.blog-page {
  background-image: linear-gradient(45deg, #0b4a2a, #041e11);
  min-height: 100vh;
  padding-top: 200px;
}

.blogData-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  background-color: $color-main-white;
  max-width: 1200px;
  margin: 0 auto;
  padding: 30px;
  border-radius: 3rem;
}

.blog-title__heading {
  font-size: 42px;
  font-weight: 700;
}

.blog-author__container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.author-img {
  border-radius: 50px;
  height: 3rem;
  width: 3rem;
}

.author-name {
  font-size: 1.6rem;
  font-weight: 500;
}

.like-comment__container {
    width: 100%;
    display: flex;
    gap: .5rem;
    border-top: solid 1px #d3d3d3;
    padding: 5px;
 
    & ion-icon {
    color: $color-deep-green;
    cursor: pointer;
  }
}

.blog-img {
  border-radius: 3rem;
}

.blogData-body {
  font-size: 1.6rem;
  word-wrap: break-word;
  overflow-wrap: break-word;
  max-width: 100%;
  padding: 10px;

  &__container {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    max-width: 100%;
  }
}
